# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data files (optional)
*.csv
*.xlsx
*.xls

# VSCode
.vscode/